@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --primary: #007AFF;
  --secondary: #5856D6;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: white;
    color: #1a202c;
    @media (prefers-color-scheme: dark) {
      background-color: #1a202c;
      color: #f7fafc;
    }
    font-family: 'Inter', sans-serif;
  }
}